@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');


*, *:before, *:after {
  box-sizing: border-box;
}
.search {
  width: 90%;
  position: relative;
  padding-top: 10px;
  padding-bottom: 50px;

}

.searchTerm {
  float: left;
  width: 90%;
  border: 1px solid #999;
  padding: 5px;
  height: 36px;
  border-radius: 10px;
  box-shadow: 0 4px 3px -3px #555;
  outline: none;
  font-style: italic;
}

.searchTerm:focus{
  color: #999;
}

.searchButton {
  position: absolute;
  right: -30px;
  width: 40px;
  height: 36px;
  border: 1px solid #999;
  background: #999;
  text-align: center;
  color: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 3px -3px #222;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
}

body{
  background-color: #fff;
  font-family: 'Roboto';
  max-width: 415px;
  margin:auto;
}

ul{
  list-style-type: none;
  width: 75%;
  border-top: 3px;
  border-bottom: 3px;
}


h1{
  font-weight:bold;
  font-size: 24px;
  color: #555;
  letter-spacing: -2.41%;
  text-align: center;
  padding-top: 90px;
  padding-bottom: 20px;
}

h2{
 padding-top:35px;
 padding-bottom: 5px;
 border-bottom-style: solid;
 border-width: thin;
 border-color: #777;
 color:#444;
 font-weight:normal;
}

p {
  display:inline-block;
  padding-left: 5px;
  font-family: "Roboto";
  font-size: 18px;
  color:#555;
}


.numberCircle {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding-top: 13px;
  padding-right: 3px;
  padding-left: 3px;
  padding-bottom: 3px;
  background: #999;
  color: #fff;
  display:inline-block;
  text-align: center;
  font-size: 16px;
}


.block {
  background: #fff;
  height: 100px;
  width: 415px;
  border-bottom-style: solid;
  border-width: thin;
  border-color: #777;
}

.block:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.route{
  display: inline-block;
  vertical-align: middle;
  width: 190px;
  padding-left: 3px;
  font-weight:bold;
  font-size: 16px;
  color: #555;
}

.frequency{
  display:inline-block;
  vertical-align: text-top;
  margin-left: -40px;
  font-weight: lighter;
  font-size: 12px;
  font-weight: 200;
}

.arrival{
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: #444;
}

.arrow-left {
 position: fixed;
 display: inline;
 float: left;
 width: 1%;
 color: #777;
}

.arrow-right{
  display:inline-block;
  text-align:right;
  vertical-align: middle;
  float:right;
  margin-top: 35px;
  color:#777;
}
